<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPRNClient</title>
    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">
    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectPRNClient.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/plugins.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors/color-1.css" asp-append-version="true" id="changeColorScheme" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/1bd9fa3a2e.js" crossorigin="anonymous"></script>
</head>
<body class="wrapper">
    <!-- Header Section Start -->
    <header class="header--section style--1">

        <!-- Header Topbar Start -->
        <div id="header--toppart" class="header--topbar bg-white">
            <div class="container">
                <!-- Header Topbar Links Start -->
                <ul class="header--topbar-links nav ff--primary float--left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>VIE</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">VIE</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Header Topbar Links End -->
                <!-- Header Topbar Social Start -->
                <ul class="header--topbar-social nav float--left hidden-xs">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <!-- Header Topbar Social End -->
                <!-- Header Topbar Links Start -->
                <ul class="header--topbar-links nav ff--primary float--right">

                    @* ELEMENT CART *@
                    @* <li>
                    <a href="cart.html" title="Cart" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-shopping-basket"></i>
                    <span class="badge">3</span>
                    </a>
                    </li> *@
                    <li>
                        <a href="#" class="btn-link">
                            <i class="fa mr--8 fa-user-o"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                </ul>
                <!-- Header Topbar Links End -->
            </div>
        </div>
        <!-- Header Topbar End -->
        <!-- Header Navbar Start -->
        <div id="sticky--wrapper" class="header--navbar">
            <div class="container">

                <div class="navbar-header">
                    <!-- Header Navbar Logo Start -->
                    <div class="header--navbar-logo navbar-brand">
                        <a href="">
                            <img src="~/image/logo.jpg" class="normal" alt="" style="width: 138px; height: 80px;">
                            <img src="~/image/logo.jpg" class="sticky" alt="">
                        </a>
                    </div>
                    <!-- Header Navbar Logo End -->
                </div>

                <div class="search--header">
                    <form method="get" id="search--form">
                        <input type="text" name="txtSearch" class="txtSearch" placeholder="Tìm kiếm" />
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <div id="headerNav" class="float--right">
                    <!-- Header Nav Links Start -->
                    <ul class="header--nav-links style--1 nav ff--primary">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Trang chủ</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href=""><span>Activity</span></a></li>
                                <li><a href=""><span>Members</span></a></li>
                                <li><a href=""><span>Groups</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>BBPress</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">Forums</a></li>
                                <li><a href="">Sub Forums</a></li>
                                <li><a href="">Topics</a></li>
                                <li><a href="">Topic Replies</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Tin tức</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">News category 1</a></li>
                                <li><a href="">News category 2</a></li>
                                <li><a href="">News category 3</a></li>
                                <li><a href="">News category 4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Dịch vụ</span>
                                @* <i class="fa fa-caret-down"></i> *@
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="">List of expert</a></li>
                                <li><a href="">Service 1</a></li>
                                <li><a href="">Service 2</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span>Liên hệ hỗ trợ</span></a></li>
                    </ul>
                    <!-- Header Nav Links End -->
                </div>
            </div>
        </div>
        <!-- Header Navbar End -->

    </header>
    <!-- Header Section End -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer--section">
        <!-- Footer Widgets Start -->
        <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">About Us</h2>

                            <!-- Text Widget Start -->
                            <div class="text--widget">
                                <p>Ipsum is simply dummy text of the printing indusLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                            <!-- Text Widget End -->
                        </div>
                        <!-- Widget End -->
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Subscribe To Our Newsletter</h2>

                            <!-- Newsletter Widget Start -->
                            <div class="newsletter--widget style--1" data-form="validate">
                                <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" name="mc-embedded-subscribe-form" target="_blank">
                                    <div class="input-group">
                                        <input type="email" name="EMAIL" placeholder="Enter your emil address" class="form-control" autocomplete="off" required>

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn-link"><i class="fa fa-send-o"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Newsletter Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Recent Post</h2>

                            <!-- Recent Posts Widget Start -->
                            <div class="recent-posts--widget">
                                <ul class="nav">
                                    <li>
                                        <p class="date fw--300">
                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                        </p>
                                        <p class="title fw--700">
                                            <a href="blog-details.html">I look at you and see the rest of my life in front</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="date fw--300">
                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                        </p>
                                        <p class="title fw--700">
                                            <a href="blog-details.html">If I know what love is, it is because of you</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="date fw--300">
                                            <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                        </p>
                                        <p class="title fw--700">
                                            <a href="blog-details.html">At the touch of love everyone becomes a poet</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <!-- Recent Posts Widget End -->
                        </div>
                        <!-- Widget End -->
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Tags</h2>

                            <!-- Tags Widget Start -->
                            <div class="tags--widget">
                                <ul class="nav">
                                    <li><a href="#">BuddyPress</a></li>
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">WordPress</a></li>
                                </ul>
                            </div>
                            <!-- Tags Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Some of Catagories</h2>

                            <!-- Nav Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-folder-o"></i>
                                            <span class="text">Social Media</span>
                                            <span class="count">(26)</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- Nav Widget End -->
                        </div>
                        <!-- Widget End -->
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">From Archives</h2>

                            <!-- Nav Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - July 2017</span>
                                            <span class="count">(86)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Forums</h2>

                            <!-- Links Widget Start -->
                            <div class="links--widget">
                                <ul class="nav">
                                    <li><a href="sub-forums.html">User Interface Design</a></li>
                                    <li><a href="sub-forums.html">Front-End Engineering</a></li>
                                </ul>
                            </div>
                            <!-- Links Widget End -->
                        </div>
                        <!-- Widget End -->
                        <!-- Widget Start -->
                        <div class="widget">
                            <a href="#"><img src="~/image/logo.jpg" class="normal" alt="" style="height: 150px"></a>
                        </div>
                        <!-- Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widgets End -->
        <!-- Footer Extra Start -->
        <div class="footer--extra bg-darker pt--30 pb--40 text-center">
            <div class="container">
                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Recent Active Members</h2>

                    <!-- Recent Active Members Widget Start -->
                    <div class="recent-active-members--widget style--2">
                        <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200" data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/01.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/02.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/03.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/04.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/05.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/06.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/07.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/08.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/09.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/10.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/11.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/12.jpg" alt=""></a>
                            </div>

                            <div class="img">
                                <a href="member-activity-personal.html"><img src="img/widgets-img/recent-active-members/13.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Recent Active Members Widget End -->
                </div>
                <!-- Widget End -->
            </div>
        </div>
        <!-- Footer Extra End -->
        <!-- Footer Copyright Start -->
        <div class="footer--copyright pt--30 pb--30 bg-darkest">
            <div class="container">
                <div class="text fw--500 fs--14 text-center">
                    <p>Copyright &copy; Soci<span>fly</span>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </footer>

    <script src="~/js/plugins.min.js"></script>
    <!-- ==== Color Switcher Plugin ==== -->
    <script src="~/js/color-switcher.min.js"></script>
    <!-- ==== Main Script ==== -->
    <script src="~/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
