
@{
    ViewData["Title"] = "Details";
}

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">

        <div class="row">

            <!-- Main Content Start -->
            <div class="main--content col-md-8 pb--30" data-trigger="stickyScroll">
                <div class="main--content-inner">

                    <!-- Post Item Start -->
                    <div class="post--item post--single pb--30">

                        <!-- Post Image Start -->
                        <div class="post--img">
                            <a href="blog-details.html"><img src="~/image/logo.jpg" alt=""></a>
                        </div>
                        <!-- Post Image End -->

                        <!-- Post Info Start -->
                        <div class="post--info">

                            <!-- Post Meta Start -->
                            <div class="post--meta">
                                <ul class="nav">
                                    <li>
                                        <a href="#">
                                            <i class="mr--8 fa fa-calendar-o"></i>
                                            <span>05 Nov 2017</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mr--8 fa fa-comments-o"></i>
                                            <span>10 lượt xem</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Post Meta End -->

                            

                            <!-- Post Content Start -->
                            <div class="post--content text-darker mt--10">
                                <h4>Why do we use it?</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look accident, sometimes on purpose (injected humour and the like).</p>

                                <figure class="alignright">
                                    <img src="img/posts-img/post-details-01.jpg" alt="">

                                    <figcaption>Creative  |  Innovation</figcaption>
                                </figure>

                                <h4>1914 translation by H. Rackham</h4>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum software like Aldus as opposed to using 'Content here, content here', making has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen trusted by holly book.</p>

                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop  sometimes on purpose (injected humour and the like).</p>

                                <blockquote>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>

                                    <cite>Larry R. Ramirez</cite>
                                </blockquote>

                            </div>
                            <!-- Post Content End -->


                            <!-- Post Footer Start -->
                            <div class="post--footer">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <i class="mr--8 fa fa-folder-open-o"></i>

                                                    <a href="#"><span>Creative</span></a>
                                                    <a href="#"><span>Branding</span></a>
                                                    <a href="#"><span>Product Design</span></a>
                                                </li>
                                                <li>
                                                    <i class="mr--8 fa fa-tags"></i>

                                                    <a href="#"><span>Design</span></a>
                                                    <a href="#"><span>Art</span></a>
                                                    <a href="#"><span>Drawing</span></a>
                                                    <a href="#"><span>Typhography</span></a>
                                                    <a href="#"><span>Graphics</span></a>
                                                    <a href="#"><span>UI/UX</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->

                                    </div>

                                    <div class="col-sm-6">

                                        <!-- Post Social Start -->
                                        <div class="post--social-share clearfix">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#"><i class="fa-solid fa-thumbs-up"></i></a>
                                                    <span>20 lượt thích</span>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa-solid fa-share"></i></a>
                                                    <span>30 lượt chia sẻ</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Social End -->

                                    </div>
                                </div>
                            </div>
                            <!-- Post Footer End -->
                        </div>
                        <!-- Post Info End -->
                    </div>
                    <!-- Post Item End -->

                    <!-- Post Author Start -->
                    <div class="post--author pt--40 pb--30">
                        <div class="post--author-inner clearfix" data-bg-img="img/posts-img/author-bg.png">

                            <div class="img mr--30 text-black text-center float--left">
                                <img src="~/image/logo.jpg" alt="">
                                <p><a href="#" class="btn-link">Carla W. Carter</a></p>
                            </div>

                            <div class="info ov--h fs--14 pt--8">

                                <div class="desc fw--500 fstyle--i">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Post Author End -->

                    <!-- Related Posts Start -->
                    <div class="related--posts pt--40">
                        <h4 class="h4 pb--20">Bài đăng liên quan</h4>

                        <div class="row AdjustRow">
                            <div class="col-md-6 pb--30">

                                <!-- Post Item Start -->
                                <div class="post--item">

                                    <!-- Post Image Start -->
                                    <div class="post--img">
                                        <a href="blog-details.html"><img src="~/image/logo.jpg" alt=""></a>
                                    </div>
                                    <!-- Post Image End -->

                                    <!-- Post Info Start -->
                                    <div class="post--info">

                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <img src="~/image/logo.jpg" alt="">
                                                        <span>Robbie T. Poorman</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mr--8 fa fa-calendar-o"></i>
                                                        <span>25 Nov 2017</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mr--8 fa fa-comments-o"></i>
                                                        <span>0 Comment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->

                                        <!-- Post Title Start -->
                                        <div class="post--title mt--10">
                                            <h3 class="h6">
                                                <a href="#" class="btn-link">This Is the Place I Was Telling You About</a>
                                            </h3>
                                        </div>
                                        <!-- Post Title End -->

                                        <!-- Post Content Start -->
                                        <div class="post--content text-darker mt--10">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <!-- Post Content End -->

                                        <!-- Post Action Start -->
                                        <div class="post--action text-darkest mt--8">
                                            <a href="#" class="btn-link">Continue Reading<i class="ml--10 text-primary fa fa-caret-right"></i></a>
                                        </div>
                                        <!-- Post Action End -->

                                    </div>
                                    <!-- Post Info End -->
                                </div>
                                <!-- Post Item End -->
                            </div>

                        </div>
                    </div>
                    <!-- Related Posts End -->

                    <!-- Comment Form Start -->
                    <div class="comment--form pb--30" data-form="validate">
                        <h4 class="h4 pb--15">Bình luận</h4>

                        @* FORM COMMENT *@
                        <form action="#">
                            <div class="row gutter--15">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="comment" placeholder="Comment *" class="form-control" required></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-12 pt--10">
                                    <button type="submit" class="btn btn-sm btn-primary fs--14">Post Comment</button>
                                </div>

                            </div>
                        </form>
                        @* END FORM COMMENT *@

                    </div>
                    <!-- Comment Form End -->

                    <!-- Comment List Start -->
                    <div class="comment--list pt--40">
                        <h4 class="h4 pb--20">03 bình luận</h4>

                        <ul class="comment--items nav">

                            <!-- Comment Item Start -->
                            <li>
                                <div class="comment--item mr--15 clearfix">

                                    @* AVATAR USER COMMENT *@
                                    <div class="img float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="~/image/logo.jpg" alt="">
                                    </div>
                                    @* END AVATAR USER COMMENT *@

                                    <div class="info ov--h">

                                        @* INFORMATION OF USER COMMENT *@
                                        <div class="header clearfix">                                            
                                            <div class="meta float--left">
                                                <p class="fs--14 fw--700 text-darkest">
                                                    <a href="#">Denise R. Sherman</a>
                                                </p>

                                                <p>
                                                    <i class="mr--10 fa fa-clock-o"></i>
                                                    <span>Yeasterday at 08:20 am</span>
                                                </p>
                                            </div>
                                        </div>
                                        @* END COMMENT INFORMATION USER *@

                                        @* CONTENT COMMENT *@
                                        <div class="content pt--8 fs--14">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                                        </div>
                                        @* END CONTENT COMMENT *@

                                    </div>
                                </div>
                            </li>
                            <!-- Comment Item End -->

                        </ul>
                    </div>
                    <!-- Comment List End -->

                </div>
            </div>
            <!-- Main Content End -->

            <!-- Main Sidebar Start -->
            <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Find A Buddy</h2>

                    <!-- Buddy Finder Widget Start -->
                    <div class="buddy-finder--widget">
                        <form action="#">
                            <div class="row">
                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">I Am</span>

                                            <select name="gender" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Looking For</span>

                                            <select name="lookingfor" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Age</span>

                                            <select name="age" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="18to25">18 to 25</option>
                                                <option value="25to30">25 to 30</option>
                                                <option value="30to35">30 to 35</option>
                                                <option value="35to40">35 to 40</option>
                                                <option value="40plus">40+</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">City</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="newyork">New York</option>
                                                <option value="California">California</option>
                                                <option value="Atlanta">Atlanta</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Filter Country</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="unitedstates">United States</option>
                                                <option value="australia">Australia</option>
                                                <option value="turkey">Turkey</option>
                                                <option value="vietnam">Vietnam</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Buddy Finder Widget End -->
                </div>
                <!-- Widget End -->

            </div>
            <!-- Main Sidebar End -->

        </div>
    </div>
</section>
<!-- Page Wrapper End -->

