@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">

            <!-- Main Content Start -->
            <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner drop--shadow">

                    <!-- Filter Nav Start -->
                    <div class="filter--nav pb--60 clearfix">
                        <div class="filter--link float--left">
                            <h2 class="h4"><a href="members.html" class="btn-link">All Members : 30,000</a></h2>
                        </div>

                        <div class="filter--options float--right">
                            <label>
                                <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                                <select name="activityfilter" class="form-control form-sm" data-trigger="selectmenu">
                                    <option value="everything" selected>— Everything —</option>
                                    <option value="new-members">New Members</option>
                                    <option value="profile-updates">Profile Updates</option>
                                    <option value="updates">Updates</option>
                                    <option value="friendships">Friendships</option>
                                    <option value="new-groups">New Groups</option>
                                    <option value="group-memberships">Group Memberships</option>
                                    <option value="group-updates">Group Updates</option>
                                    <option value="topics">Topics</option>
                                    <option value="replies">Replies</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- Filter Nav End -->

                    <!-- Activity List Start -->
                    <div class="activity--list">

                        <!-- Activity Items Start -->
                        <ul class="activity--items nav">

                            @* sử dụng khi đăng 1 ảnh *@
                            <li>
                                <!-- Activity Item Start -->
                                <div class="activity--item">
                                    @* AVATAR *@
                                    <div class="activity--avatar">
                                        <a href="member-activity-personal.html">
                                            <img src="img/activity-img/avatar-01.jpg" alt="">
                                        </a>
                                    </div>
                                    @* CONTENT A POST *@
                                    <div class="activity--info fs--14">
                                        <div class="activity--header">
                                            <p><a href="">Eileen K. Ruiz</a> update her profile picture</p>
                                        </div>

                                        <div class="activity--meta fs--12">
                                            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                        </div>

                                        <div class="activity--content">
                                            <div class="img--embed">
                                                <img src="img/activity-img/profile-pic-01.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Activity Item End -->
                            </li>

                            @* sử dụng khi đăng bài post dài *@
                            <li>
                                <!-- Activity Item Start -->
                                <div class="activity--item">
                                    <div class="activity--avatar">
                                        <a href="member-activity-personal.html">
                                            <img src="img/activity-img/avatar-02.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="activity--info fs--14">
                                        <div class="activity--header">
                                            <p><a href="member-activity-personal.html">Samuel C. Azevedo</a> posted an update in the group <a href="group-home.html">Travel Guides</a></p>
                                        </div>

                                        <div class="activity--meta fs--12">
                                            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                        </div>

                                        <div class="activity--content">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                                        </div>

                                        <div class="activity--action fw--700">
                                            <a href="#">See More...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Activity Item End -->
                            </li>

                            @* sử dụng khi đăng 1 video *@
                            <li>
                                <!-- Activity Item Start -->
                                <div class="activity--item">
                                    <div class="activity--avatar">
                                        <a href="member-activity-personal.html">
                                            <img src="img/activity-img/avatar-05.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="activity--info fs--14">
                                        <div class="activity--header">
                                            <p><a href="member-activity-personal.html">Lee E. Jones</a> Shared a link</p>
                                        </div>

                                        <div class="activity--meta fs--12">
                                            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                        </div>

                                        <div class="activity--content">
                                            <div class="link--embed">
                                                <a class="link--url" href="https://www.youtube.com/watch?v=YE7VzlLtp-4" data-trigger="video_popup"></a>

                                                <div class="link--video">
                                                    <img src="img/activity-img/link-video-poster.jpg" alt="">
                                                </div>

                                                <div class="link--info fs--12">
                                                    <div class="link--title">
                                                        <h4 class="h6">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</h4>
                                                    </div>

                                                    <div class="link--desc">
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing</p>
                                                    </div>

                                                    <div class="link--rel ff--primary text-uppercase">
                                                        <p>www.unknownneonnettle.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Activity Item End -->
                            </li>

                            @* sử dụng khi đăng nhiều ảnh *@
                            <li>
                                <!-- Activity Item Start -->
                                <div class="activity--item">
                                    <div class="activity--avatar">
                                        <a href="member-activity-personal.html">
                                            <img src="img/activity-img/avatar-07.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="activity--info fs--14">
                                        <div class="activity--header">
                                            <p><a href="member-activity-personal.html">Anita J. Lilley</a> posted an update in the group <a href="group-home.html">Lens-bians Photography</a></p>
                                        </div>

                                        <div class="activity--meta fs--12">
                                            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                                        </div>

                                        <div class="activity--content">
                                            <div class="gallery--embed" data-trigger="gallery_popup">
                                                <ul class="nav AdjustRow">
                                                    <li>
                                                        <a href="img/activity-img/gallery-embed-01.jpg">
                                                            <img src="img/activity-img/gallery-embed-01.jpg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="img/activity-img/gallery-embed-02.jpg">
                                                            <img src="img/activity-img/gallery-embed-02.jpg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="img/activity-img/gallery-embed-03.jpg">
                                                            <img src="img/activity-img/gallery-embed-03.jpg" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="img/activity-img/gallery-embed-04.jpg" data-overlay="0.5">
                                                            <img src="img/activity-img/gallery-embed-04.jpg" alt="">
                                                            <span>24+ More</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Activity Item End -->
                            </li>

                        </ul>
                        <!-- Activity Items End -->
                    </div>
                    <!-- Activity List End -->
                </div>

                <!-- Load More Button Start -->
                <div class="load-more--btn pt--30 text-center">
                    <a href="#" class="btn btn-animate">
                        <span>See More Activities<i class="fa ml--10 fa-caret-right"></i></span>
                    </a>
                </div>
                <!-- Load More Button End -->

            </div>
            <!-- Main Content End -->
            <!-- Main Sidebar Start -->
            <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">

                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Find A Buddy</h2>

                    <!-- Buddy Finder Widget Start -->
                    <div class="buddy-finder--widget">
                        <form action="#">
                            <div class="row">
                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">I Am</span>

                                            <select name="gender" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Looking For</span>

                                            <select name="lookingfor" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Age</span>

                                            <select name="age" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="18to25">18 to 25</option>
                                                <option value="25to30">25 to 30</option>
                                                <option value="30to35">30 to 35</option>
                                                <option value="35to40">35 to 40</option>
                                                <option value="40plus">40+</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">City</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="newyork">New York</option>
                                                <option value="California">California</option>
                                                <option value="Atlanta">Atlanta</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Filter Country</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="unitedstates">United States</option>
                                                <option value="australia">Australia</option>
                                                <option value="turkey">Turkey</option>
                                                <option value="vietnam">Vietnam</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Buddy Finder Widget End -->
                </div>
                <!-- Widget End -->

            </div>
            <!-- Main Sidebar End -->
        </div>
    </div>
</section>
<!-- Page Wrapper End -->