
@{
    ViewData["Title"] = "ListService";
}

<!-- Page Wrapper Start -->
<!-- Hiển thị danh sách dịch vụ -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner drop--shadow">
                    <!-- Topics List Start -->
                    <div class="topics--list">
                        <table class="table">
                            <thead class="ff--primary fs--14 text-darkest">
                                <tr>
                                    <th>Dịch vụ</th>
                                    <th>Giá</th>
                                    <th>Tác giả</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Chuẩn đoán bệnh ở cây lúa</a></h4>

                                        <!-- <p>Started by <a href="member-activity-personal.html">Alice A. Baker</a> in <a href="#">sports</a> forum</p> -->
                                        <!-- hiển thị sao được đánh giá -->
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>Đang hoạt động</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Đặng Nguyễn Đăng Khoa</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-01.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Làm cách nào để cây phát triển tốt</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 ngày trước</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Bùi Thị Mai Xuân</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-02.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Removing Headers from Pages</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Barbara L. Posey</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-03.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Header Image Resizing For NATURAL Theme</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">William C. Morgan</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-04.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Can't access the CSS Editor</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Diane H. Guzman</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-05.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Change default colours on main menu</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Diane H. Guzman</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-06.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Customising Kelly Theme post page</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" disabled />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" disabled />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" disabled />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" disabled />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" disabled />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Sara Mitchell</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-07.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="topic-replies.html" class="btn-link">Tagline Colour</a></h4>

                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" disabled />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" disabled />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" disabled />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" disabled />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" disabled />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <p class="count-rate">(150)</p>
                                    </td>
                                    <td>
                                        <div class="ff--primary fw--500 fs--14 text-darkest d-flex-price">
                                            <p>160.000</p>
                                            <p>đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>2 days, 5 hours ago</p>

                                        <a href="member-activity-personal.html" class="topic--author">
                                            <span class="name">Zachary West</span>
                                            <span class="avatar"><img src="img/topics-img/avatar-08.jpg" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="booking-btn btn btn-primary">Đặt lịch</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Topics List End -->
                    <!-- Page Count Start -->
                    <div class="page--count pt--30">
                        <label class="ff--primary fs--14 fw--500 text-darker">
                            <span>Hiển thị 8 dịch vụ - 1 trong 8</span>

                            <a href="#" class="btn-link"><i class="fa fa-caret-left"></i></a>
                            <input type="number" name="page-count" value="01" class="form-control form-sm">
                            <a href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                            <span>08</span>
                        </label>
                    </div>
                    <!-- Page Count End -->
                </div>
            </div>
            <!-- Main Content End -->
            <!-- Main Sidebar Start -->
            <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Lọc dịch vụ</h2>

                    <!-- Buddy Finder Widget Start -->
                    <div class="buddy-finder--widget">
                        <form action="#">
                            <div class="row">
                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Loại dịch vụ</span>

                                            <select name="service" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="male">Chăm sóc</option>
                                                <option value="female">Chữa bệnh</option>
                                                <option value="other">Tư vấn</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Chi phí</span>

                                            <select name="price" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="#">dưới 100000</option>
                                                <option value="#">100000 - 500000</option>
                                                <option value="#">500000-2000000</option>
                                                <option value="#">2000000-5000000</option>
                                                <option value="#">5000000 trở lên</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-xxs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Loại cây trồng</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="#">Cây lúa</option>
                                                <option value="#">Cây dược liệu</option>
                                                <option value="#">Cây công nghiệp</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            <span class="text-darker ff--primary fw--500">Địa điểm</span>

                                            <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                <option value="#">Cần Thơ</option>
                                                <option value="#">Hà Nội</option>
                                                <option value="#">Hồ Chí Minh</option>
                                                <option value="#">Cà Mau</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Buddy Finder Widget End -->
                </div>
                <!-- Widget End -->
            </div>
            <!-- Main Sidebar End -->
        </div>
    </div>
</section>
<!-- Page Wrapper End -->

